* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus{
	outline: none!important;
}
@font-face {
    font-family: OpenSans-Regular; /* имя шрифта для CSS правил */
    src: local('OpenSans-Regular'), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/OpenSans-Regular.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
    font-family: OpenSans-Bold; /* имя шрифта для CSS правил */
    src: local('OpenSans-Bold'), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/OpenSans-Bold.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
    font-family: OpenSans-Light; /* имя шрифта для CSS правил */
    src: local('OpenSans-Light'), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/OpenSans-Light.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
#top{
	background-color: #f7f7f7;
	padding: 10px;
}
.half{
	width: 50%;
}
header{
	padding: 35px;
}
ul{
	list-style: none;
	margin-bottom: 0!important;
	padding: 0;
}
ul.top-list li{
	display: inline-block;
	margin-right: 50px;
}
ul.top-list li:last-child{
	margin-right: 0;
}
ul.top-list li a{
	color: #aeaeae;
	font-size: 13.95px;
	font-family: OpenSans-Regular;
}
.numbers{
	color: #aeaeae;
	font-size: 13.95px;
	font-family: OpenSans-Regular;
	text-align: right;
}
.numbers p{
	border-right: 1px solid #b3b3b3;
	display: inline-block;
	margin-bottom: 0;
	padding: 0 5px;
}
.numbers p:last-child{
	border-right: 1px solid transparent;
}
.quick-search-wrapper{
	position: relative;
}
.quick-search-wrapper .form-group{
	width: 100%;
}
.quick-search-wrapper .form-group input{
	border-radius: 30px;
	font-size: 13.95px;
	width: 100%;
}
button#quick-search{
	background: transparent;
	color: #000;
	font-size: 0;
	font-family: OpenSans-Regular;
	padding: 0;
	position: absolute;
	right: 25px;
	top: 1px;
	z-index: 2;
}
button#quick-search i{
	font-size: 30px;
}
.form-control.search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #000;
	font-family: OpenSans-Regular;
}
.form-control.search::-moz-placeholder { /* Firefox 19+ */
	color: #000;
	font-family: OpenSans-Regular;
}
.form-control.search:-ms-input-placeholder { /* IE 10+ */
	color: #000;
	font-family: OpenSans-Regular;
}
.form-control.search:-moz-placeholder { /* Firefox 18- */
	color: #000;
	font-family: OpenSans-Regular;
}
ul.personal{
	color: #000;
	min-height: 34px;
	line-height: 34px;
}
ul.personal li{
	display: inline-block;
	margin-right: 30px;
}
ul.personal li:last-child{
	margin-right: 0;
}
ul.personal li.dropdown{
	background: url(../image/ic_account.png) no-repeat left top;
	padding-left: 40px;
}
/*общий случай*/
ul li.dropdown:hover .dropdown-menu{
	display: block;
}
ul.personal li.dropdown.person a.drop{
	background: url(../image/arrow-down.png) no-repeat right center;
	padding-right: 20px;
}
ul.personal li.wish{
	background: url(../image/ic_star.png) no-repeat left top;
	padding-left: 40px;
}
.wish-count, .cart-count{
	background: #000;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin-left: 15px;
	position: relative;
	top: -2px;
	text-align: center;
}
ul.personal li.cart{
	background: url(../image/ic_cart.png) no-repeat left top;
	padding-left: 40px;
}
ul.personal a{
	color: #000;
	display: block;
	font-family: OpenSans-Regular;
	font-weight: bold;
}
div.dropdown-menu{
	left: 60px;
	margin-top: 0;
	padding: 15px 25px;
}
div.dropdown-menu ul a{
	font-size: 13px;
}
#navigation{
	border: none;
	background-color: #f7f7f7;
}
ul.main-nav{
	width: 100%;
}
ul.main-nav li{
	margin-right: 5.6%;
}
ul.main-nav li:last-child{
	margin-right: 0;
}
ul.main-nav li.dropdown:hover{
	border-top: 2px solid #000;
}
#navigation ul.main-nav>li>a{
	color: #000;
	font-family: OpenSans-Regular;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
div.sub-main-nav{
	border: none;
	background-color: #f7f7f7;
	box-shadow: none;
	left: 0;
	padding: 10px;
	width: 225px;
}
div.sub-main-nav ul>li{
	padding: 10px 15px;
}
div.sub-main-nav ul>li>a{
	color: #000;
	font-family: OpenSans-Regular;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-transform: normal;
}
div.sub-main-nav ul>li:hover{
	background: url(../image/ic_arrow_drop_down.png) no-repeat 5px center;
}
.categories{
	/*margin: 0 10px;*/
	cursor: pointer;
}
.categories .description{
	color: #fff;
	font-family: OpenSans-Bold;
	font-size: 32px;
	position: absolute;
	bottom: 35px;
	left: 75px;
}
.categories .description span{
	font-family: OpenSans-Regular;
	font-size: 16px;
	font-weight: normal;
}
/*slider 1*/
#myCarousel div.arrows-wrapper{
	position: absolute;
	left: 0;
	right: 0;
	top: 100px;
}
#myCarousel .arrows{
	z-index: 10;
}	
#myCarousel .arrows .direction{
	float: left;
	width: 50%;
}
#myCarousel .arrows .direction-left{
	padding-left: 15px;
}
#myCarousel .arrows .direction-right{
	padding-right: 15px;
}
#myCarousel .arrows .direction-right a{
	float: right;
}
div.carousel-inner{
	padding-bottom: 35px;
}
a.left.carousel-control, a.right.carousel-control{
	background-image: unset;
	border-radius: 50%;
	display: block;
	line-height: 37px;
	height: 40px;
	width: 40px;
	text-align: center;
	opacity: 1;
	position: static;
}
a.left.carousel-control{
	background: #000;
}
a.right.carousel-control{
	background: #fff;
	border: 1px solid #000;
}
.slider-content{
	margin-bottom: 100px;
}
.slider-content .item-content{
	padding: 0;
}
.transparent-block, .information-block{
	float: left;
	min-height: 423px;
}
.transparent-block{
	position: relative;
	width: 40%;
}
.transparent-block img{
    position: absolute;
    right: -75px;
    top: 16%;
}
.information-block{
	background: #f7f7f7;
    padding: 100px 200px 66px 200px;
	width: 60%;
	overflow: hidden;
}
.information-block div{
	overflow: hidden;
}
.title{
	color: #000;
	font-size: 32px;
	font-family: OpenSans-Bold;
	text-transform: uppercase;
}
.description-block{
	color: #000;
	font-size: 16px;
	font-family: OpenSans-Light;
	margin: 25px 0;
}
.cost{
	color: #000;
	font-size: 32px;
	font-family: OpenSans-Regular;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.show-product a{
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    padding: 10px 0;
    display: block;
    width: 175px;
    text-align: center;
    text-decoration: none!important;
}
.show-product a:hover{
	color: #fff;
}
/*slider 1*/