* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus{
	outline: none!important;
}
@font-face {
    font-family: OpenSans-Regular; /* имя шрифта для CSS правил */
    src: local('OpenSans-Regular'), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/OpenSans-Regular.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
    font-family: OpenSans-Bold; /* имя шрифта для CSS правил */
    src: local('OpenSans-Bold'), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/OpenSans-Bold.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
    font-family: OpenSans-Light; /* имя шрифта для CSS правил */
    src: local('OpenSans-Light'), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/OpenSans-Light.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
    font-family: OpenSans-SemiBold; /* имя шрифта для CSS правил */
    src: local('OpenSans-SemiBold'), /* проверяем наличие шрифта в ОС пользователя */
         url(../fonts/OpenSans-SemiBold.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
#top{
	background-color: #f7f7f7;
	padding: 10px;
}
.half{
	width: 50%;
}
header{
	padding: 35px;
}
section.container-fluid{
	padding: 0;
	overflow: hidden;
}
ul{
	list-style: none;
	margin-bottom: 0!important;
	padding: 0;
}
ul.top-list li{
	display: inline-block;
	margin-right: 50px;
}
ul.top-list li:last-child{
	margin-right: 0;
}
ul.top-list li a{
	color: #aeaeae;
	font-size: 13.95px;
	font-family: OpenSans-Regular;
}
.numbers{
	color: #aeaeae;
	font-size: 13.95px;
	font-family: OpenSans-Regular;
	text-align: right;
}
.numbers p{
	border-right: 1px solid #b3b3b3;
	display: inline-block;
	margin-bottom: 0;
	padding: 0 5px;
}
.numbers p:last-child{
	border-right: 1px solid transparent;
}
.quick-search-wrapper{
	position: relative;
}
.quick-search-wrapper .form-group{
	width: 100%;
}
.quick-search-wrapper .form-group input{
	border-radius: 30px;
	font-size: 13.95px;
	width: 100%;
}
button#quick-search{
	background: transparent;
	color: #000;
	font-size: 0;
	font-family: OpenSans-Regular;
	padding: 0;
	position: absolute;
	right: 25px;
	top: 1px;
	z-index: 2;
}
button#quick-search i{
	font-size: 30px;
}
.form-control.search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #000;
	font-family: OpenSans-Regular;
}
.form-control.search::-moz-placeholder { /* Firefox 19+ */
	color: #000;
	font-family: OpenSans-Regular;
}
.form-control.search:-ms-input-placeholder { /* IE 10+ */
	color: #000;
	font-family: OpenSans-Regular;
}
.form-control.search:-moz-placeholder { /* Firefox 18- */
	color: #000;
	font-family: OpenSans-Regular;
}
ul.personal{
	color: #000;
	min-height: 34px;
	line-height: 34px;
}
ul.personal li{
	display: inline-block;
	margin-right: 30px;
}
ul.personal li:last-child{
	margin-right: 0;
}
ul.personal li.dropdown{
	background: url(../image/ic_account.png) no-repeat left top;
	padding-left: 40px;
}
/*общий случай*/
ul li.dropdown:hover .dropdown-menu{
	display: block;
}
ul.personal li.dropdown.person a.drop{
	background: url(../image/arrow-down.png) no-repeat right center;
	padding-right: 20px;
}
ul.personal li.wish{
	background: url(../image/ic_star.png) no-repeat left top;
	padding-left: 40px;
}
.wish-count, .cart-count{
	background: #000;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin-left: 15px;
	position: relative;
	top: -2px;
	text-align: center;
}
ul.personal li.cart{
	background: url(../image/ic_cart.png) no-repeat left top;
	padding-left: 40px;
}
ul.personal a{
	color: #000;
	display: block;
	font-family: OpenSans-Regular;
	font-weight: bold;
}
div.dropdown-menu{
	left: 60px;
	margin-top: 0;
	padding: 15px 25px;
}
div.dropdown-menu ul a{
	font-size: 13px;
}
#navigation{
	border: none;
	background-color: #f7f7f7;
}
ul.main-nav{
	width: 100%;
}
ul.main-nav li{
	margin-right: 5.6%;
}
@-moz-document url-prefix()
{
	ul.main-nav li{
		margin-right: 5.4%;
	}
}
ul.main-nav li:last-child{
	margin-right: 0;
}
ul.main-nav li.dropdown:hover{
	border-top: 2px solid #000;
}
ul.main-nav li.dropdown.active{
	border-top: 2px solid #000;
}
#navigation ul.main-nav>li>a{
	color: #000;
	font-family: OpenSans-Regular;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
div.sub-main-nav{
	border: none;
	background-color: #f7f7f7;
	box-shadow: none;
	left: 0;
	padding: 10px;
	width: 225px;
}
div.sub-main-nav ul>li{
	padding: 10px 15px;
}
div.sub-main-nav ul>li>a{
	color: #000;
	font-family: OpenSans-Regular;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-transform: normal;
}
div.sub-main-nav ul>li:hover{
	background: url(../image/ic_arrow_drop_down.png) no-repeat 5px center;
}
.categories{
	cursor: pointer;
}
.categories .description{
	bottom: 35px;
    color: #fff;
    font-family: OpenSans-Bold;
    font-size: 32px;
    left: 75px;
    line-height: normal;
    position: absolute;
}
.categories .description span{
	font-family: OpenSans-Regular;
	font-size: 16px;
	font-weight: normal;
}
/*slider 1*/
#productSlider div.arrows-wrapper{
	position: absolute;
	left: 0;
	right: 0;
	top: 25px;
}
#productSlider .arrows{
	z-index: 10;
}	
#productSlider .arrows .direction{
	float: left;
	width: 50%;
}
#productSlider .arrows .direction-left{
	padding-left: 15px;
}
#productSlider .arrows .direction-right{
	padding-right: 15px;
}
#productSlider .arrows .direction-right a{
	float: right;
}
div.carousel-inner{
	padding-bottom: 35px;
}
a.left.carousel-control, a.right.carousel-control{
	background-image: unset;
	border-radius: 50%;
	display: block;
	line-height: 37px;
	height: 40px;
	width: 40px;
	text-align: center;
	opacity: 1;
	position: static;
}
a.left.carousel-control{
	background: #000;
}
a.left.carousel-control.left-black, /*белый фон, черная стрелка*/
a.right.carousel-control{
	background: #fff;
	border: 1px solid #000;
}
a.right.carousel-control{
	display: block;
	background: url(../image/ic_arrow-right.png) no-repeat center center;
}
a.right.carousel-control:hover{
	background: url(../image/ic_arrow-right.png) no-repeat center center;
	background-color: #3D3D3D;
}
a.right.carousel-control:active{
	background-color: #272727;
}
a.left.carousel-control.left-black{
	display: block;
	background: url(../image/ic_arrow-left-black.png) no-repeat center center;
}
a.left.carousel-control.left-black:hover{
	background: url(../image/ic_arrow-left.png) no-repeat center center;
	background-color: #3D3D3D;
}
a.left.carousel-control.left-black:active{
	background: url(../image/ic_arrow-left.png) no-repeat center center;
	background-color: #272727;
}
.slider-content{
	margin-bottom: 100px;
	overflow: hidden;
}
.slider-content .item-content{
	padding: 0;
}
.transparent-block, .information-block{
	float: left;
	min-height: 423px;
}
.transparent-block{
	position: relative;
	width: 40%;
}
.transparent-block img{
    position: absolute;
    right: -75px;
    top: 16%;
}
.information-block{
	background: #f7f7f7;
    padding: 100px 200px 66px 200px;
	width: 60%;
	overflow: hidden;
}
.information-block div{
	overflow: hidden;
}
.title{
	color: #000;
    font-family: OpenSans-Bold;
    font-size: 32px;
    line-height: normal;
    text-transform: uppercase;
}
.description-block{
	color: #000;
	font-size: 16px;
	font-family: OpenSans-Light;
	margin: 25px 0;
}
.cost{
	color: #000;
	font-size: 32px;
	font-family: OpenSans-Regular;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.show-product button{
    background-color: #000;
    border-radius: 20px;
    border: unset;
    color: #fff;
    padding: 10px 0;
    display: block;
    width: 175px;
    text-align: center;
    text-decoration: none!important;
}
.show-product button:hover{
	color: #fff;
	background-color: #3D3D3D;
}
.show-product button:active{
	color: #fff;
	background-color: #272727;
}
/*/slider 1*/
.categories-content{
	margin-bottom: 100px;
}
/*Popularity*/
div.popularity-wrapper{
	background: #f7f7f7;
	padding: 30px 60px;
}
div.popularity, div.descr{
	padding: 0;
}
.page-count{
	display: block;
	font-family: OpenSans-Light;
	margin-top: 10px;
}
div.descr{
	padding-top: 30px;
}
/*slider catalog*/
#catalogSlider>.container{
	position: relative;
}
/*#catalogSlider div.arrows{
	position: absolute;
	top: 100px;
	left: 15px;
	z-index: 10;
}*/
#catalogSlider .arrows{
	margin-top: 25px;
}
#catalogSlider div.arrows .direction{
	float: left;
	width: 100px;
}
.product-thumb{
	overflow: hidden;
}
.product-thumb, .product-thumb .image, .product-thumb .caption{
	background: #fff;
}
.product-thumb .image{
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	min-height: 155px;
}
.product-thumb .image img{
	vertical-align: middle;
	margin: 0 auto;
}
.product-thumb .caption{
	text-align: center;
}
.product-thumb .caption h4.product-name{
	min-height: 38px;
}
.product-thumb .caption h4.product-name a{
	color: #000;
	font-family: OpenSans-Bold;
	font-size: 16px;
	text-decoration: none;
}
.product-thumb .caption p{
	line-height: 1;
	text-align: left;
	padding: 0 10%;
}
.item-name{
	color: #000;
	font-family: OpenSans-Light;
	font-size: 14px;
	float: left;
	min-width: 65px;
	min-height: 28px;
}
.item-name.etc-items{
	min-height: 15.5px;
}
.item-value{
	color: #000;
	font-family: OpenSans-Light;
	font-size: 14px;
	display: table;
	float: right;
	min-height: 28px;
}
.item-value.etc-items{
	min-height: 15.5px;
}
.popular-block{
	background: #fff;
	margin: 30px auto;
	width: 175px;
}
.popular-block a{
	margin-bottom: 10px;
}
.price .item-value{
	font-family: OpenSans-Bold;
}
/*/slider catalog*/
/*/Popularity*/
footer{
	background: #272727;
	padding: 40px;
}
footer .row{
	padding-left: 100px;
}
footer h5{
	color: #fff;
	font-family: OpenSans-Bold;
	font-size: 16px;
	margin: 0;
}
.footer-nav{
	margin-top: 25px;
}
.footer-nav li{
	margin: 20px 0; 
}
.footer-nav li a{
	color: #fff;
	font-family: OpenSans-Regular;
	font-size: 16px;
	text-decoration: none;
}
ul.footer-nav.numbers{
	margin-bottom: 15px!important;
}
.footer-nav.numbers li{
	margin: 0;
	text-align: left;
}
div.last-block{
	border-left: 2px solid #fff;
	margin-left: 10%;
	padding-left: 10%;
}
div.last-block ul:nth-of-type(2) a{
	font-size: 15px;
}
.wrapper-catalog{
	margin: 0 auto;
	width: 1000px;
	overflow: hidden;
	padding: 155px 0;
}
.wrapper-catalog .half{
	float: left;
	position: relative;
}
.wrapper-catalog .half img:nth-of-type(1){
	z-index: 5;
}
.wrapper-catalog .half img:nth-of-type(2){
	position: absolute;
	bottom: -40px;
	left: 50px;
	z-index: -1;
}
p.catalog-description{
	color: #000;
	font-size: 16px;
	font-family: OpenSans-Light;
	margin: 60px 0;
}
/*Modal registration*/
#autorizationModal,
#registrationModal{
    background-color: rgba(0, 0, 0, 0.6);
}
#autorizationModal .half,
#registrationModal .half{
	float: left;
}
#autorizationModal .modal-content,
#registrationModal .modal-content{
	border-radius: unset;
	border: unset;
	margin: 0;
}
#autorizationModal .modal-content{
	min-height: 500px;
}
#autorizationModal .modal-dialog,
#registrationModal .modal-dialog{
	top: 25%;
	width: 1000px;
	overflow: hidden;
}
#registrationModal .modal-dialog .half:first-child img{
	min-height: 538px;
}
.modal-title{
	text-align: center;
}
label{
	color: #6b6b6b;
	font-size: 16.09px;
	font-family: OpenSans-Light;
	width: 100%;
}
.modal-body-wrapper{
	margin: 0 auto;
	width: 300px;
}
#autorizationModal .modal-body-wrapper{
	margin: 10px auto;
}
.modal-body-wrapper input{
	border: 1px solid #000;
	border-radius: 3px;
	color: #000;
	font-family: OpenSans-Regular;
	font-size: 16px;
	margin: 15px 0;
	padding: 10px 15px;
	width: 100%;
}
#autorizationModal .show-product button,
#registrationModal .show-product button{
	float: right;
}
#registrationModal .social{
	text-align: left;
	padding: 20px 0;
}
#registrationModal .social p{
	font-family: OpenSans-Regular;
	font-size: 16px;
}
#registrationModal .social span img:nth-of-type(1){
	margin-left: 50px;
}
#registrationModal .social span img{
	cursor: pointer;
	margin-right: 50px;
}
#registrationModal .social span img:last-child{
	margin-right: 0;
}
button.close{
	font-weight: normal;
	opacity: 1;
}
div.modal-header, div.modal-footer{
	border: unset;
}
span.forgot-pass{
	font-family: OpenSans-Regular;
	font-size: 16px;
	text-decoration: underline;
}
/*/Modal registration*/
div.title-wrapper::before{
    background: url(../image/shape.png) no-repeat;
    content: "";
    display: table;
    position: absolute;
    min-width: 416px;
    min-height: 1px;
    left: 20px;
    top: 35px;
}
div.title-wrapper::after{
    background: url(../image/shape.png) no-repeat;
    content: "";
    display: table;
    position: absolute;
    min-width: 416px;
    min-height: 1px;
    right: 20px;
    top: 35px;
}
h2.title-page{
	color: #000;
	font-size: 24px;
	font-family: OpenSans-Bold;
	text-align: center;
}
#map{
	width: 100%;
	height: 500px;
}
div.information-by-map{
	margin: 0 auto;
	width: 600px;
	overflow: hidden;
	padding: 20px;
}
div.information-by-map p{
	color: #272727;
	font-size: 16px;
	font-family: OpenSans-Bold;
}
div.information-by-map .half{
	padding: 20px;
}
/*wish-list*/
div.product-wrapper{
	border: 1px solid #dedede;
	margin: 50px 0;
	width: 22%;
	margin-right: 3%;
}
div.product-wrapper:last-child{
	margin-right: 0;
}
div.product-wrapper:hover{
	-webkit-box-shadow: 0px 0px 10px 1px rgba(224,224,224,1);
	-moz-box-shadow: 0px 0px 10px 1px rgba(224,224,224,1);
	box-shadow: 0px 0px 10px 1px rgba(224,224,224,1);
}
#wish-list .list{
	margin-left: 15px;
}
/*/wish-list*/
.product-img{
	margin-bottom: 20px;
	position: relative;
}
.product-img img{
	cursor: pointer;
}
div.product-img-description{
	background: #fff;
	display: none;
	margin: 0 15px;
	min-height: 328px;
	min-width: 225px;
	padding: 40px 20px 20px 20px;
	position: absolute;
	left: 0;
	top: 20px;
	opacity: .7;
	z-index: 10;
}
.product-img:hover .product-img-description{
	display: block;
}
.product-img-description h4{
	margin-bottom: 15px;
	text-align: center;
}
span.center{
	display: block;
	float: none;
	margin-top: 15px;
	text-align: center;
}
p.icons{
	padding: 0 24.5%;
}
p.icons .cart-count{
	margin: 0;
	top: 0;
	margin-right: 25px;
}
p.icons a:nth-of-type(2) .cart-count{
	margin-right: 0;
}
p.icons a span.white{
	background: #fff;
	border: 1px solid #000;
}
.product-img-text{
	display: none;
}
/*07-product.html*/
div.breadcrumbs{
	padding-left: 20px;
}
.breadcrumbs span{
	color: #000;
	display: inline-block;
	font-family: OpenSans-Regular;
	font-size: 12px;
	margin: 0 10px;
}
.full-product h2.title-page{
	margin-top: 0;
	text-align: left;
}
.full-product h2.title-page ~ p{
	color: #000;
	font-size: 16px;
	font-family: OpenSans-Light;
}
.portrait{
	border-bottom: 1px solid #ccc;
	padding-bottom: 25px;
}
.portrait h4{
	color: #000;
	font-size: 16px;
	font-family: OpenSans-Bold;
	margin-top: 25px;
	margin-bottom: 25px;
}
.portrait p{
	color: #000;
	display: inline-block;
	margin-right: 50px;
}
.portrait p span{
	font-family: OpenSans-Light;
	font-size: 16px;
}
.portrait p span img{
	margin-right: 25px;
}
.portrait p span a{
	color: #000;
}
.full-description div.cost{
	display: inline-block;
	margin-top: 15px;
}
.full-description div.cost>p{
	text-transform: none;
}
.full-description div.show-product{
	margin-left: 50px;
	display: inline-block;
}
div.full-product{
	border-bottom: 1px solid #ccc;
	padding-bottom: 25px;
	overflow: auto;
}
div.full-product:not(:first-child){
	margin-top: 25px;
}
/*/07-product.html*/
/*tabs*/
#tabs-container{
	margin-top: 25px;
	overflow: hidden;
}
.tabs-menu {
    height: 30px;
    clear: both;
}
.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #f7f7f7;
    border-radius: 20px;
    width: 175px;
    text-align: center;
    border: none;
}
.tabs-menu li.current {
    position: relative;
    background-color: #000;
    border-radius: 20px;
    width: 175px;
    text-align: center;
    z-index: 5;
}
.tabs-menu li.current a{
    color: #fff;
    font-family: OpenSans-SemiBold;
    font-size: 16px;
    padding: 0;
}
.tabs-menu li a {
    text-transform: normal;
    color: #000;
    font-family: OpenSans-SemiBold;
    font-size: 16px;
    text-decoration: none; 
}
.tabs-menu .current a {
    color: #2e7da3;
}
.tab {
    background-color: #fff;
    width: auto;
}
.tab-content {
    width: auto;
    padding: 20px 0 0 0;
    display: none;
}
.tab-content p{
	font-family: OpenSans-SemiBold;
	font-size: 16px;
	padding: 0;
}
#tab-1 {
 display: block;   
}
/*/tabs*/
div.reviews-text{
	border-right: 1px solid #ccc;
	padding: 0 0 25px 0;
	position: relative;
}
div.reviews-text h2, div.reviews-form h2{
	margin-bottom: 25px;
}
div.reviews-text .reviews p{
	font-size: 16px;
	font-family: OpenSans-Light;
	width: 90%;
}
.reviews{
	margin-bottom: 	50px;
}
.read-more{
	color: #000;
	font-family: OpenSans-Regular;
	font-size: 14px;
	display: inline-block;
	text-align: right;
	width: 	90%;
	text-decoration: underline;
}
.reviews-form input, .reviews-form textarea{
	border: 1px solid #000;
	max-width: 340px;
	max-height: 114px;
	margin-top: 15px;
}
.reviews-form input{
	margin-bottom: 50px;
}
.reviews-form .show-product{
	float: right;
	margin-top: 25px;
}
.full-product:last-child div.product-wrapper{
	margin: 15px 3% 0 0;
}