@media screen and (max-width: 1400px){
	footer, header{
		padding: 0;
	}
	header>.container{
		padding: 20px 15px;
	}
	footer{
		padding: 20px 0;
		overflow: auto;
	}
	#autorizationModal .modal-dialog, #registrationModal .modal-dialog{
		top: 10%;
	}
	.page404-content{
		-webkit-background-size: cover;
		background-size: cover;
	}
	.page404{
		top: 7.5%;
	}
}
@media screen and (max-width: 1199px){
	ul.top-list{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	ul.top-list li{
		margin-right: 0;
	}
	ul.personal{
		display: flex;
		justify-content: space-between;
	}
	ul.personal li{
		margin-right: 0;
	}
/*	ul.personal li.dropdown{
		padding-left: 0;
	}
*/	ul.personal li.dropdown a.drop{
	    color: transparent;
	    font-size: 0;
	}
	div.dropdown-menu{
		left: 10px;
	}
	ul.main-nav li{
		margin-right: 6.5%;
	}
	@-moz-document url-prefix()
	{
		ul.main-nav li{
			margin-right: 6%;
		}
	}
	.description-block{
		font-size: 14px;
	}
	.popular-block, .show-product button{
		width: 125px;
	}
	.transparent-block img{
		top: 10%;
	}
	footer h5{
		/*font-size: 14px;*/
		font-size: 13px;
	}
	footer div.col-sm-2{
		padding: 0;
	}
	.footer-nav li a, .numbers{
		font-size: 13px;
	}
	div.title-wrapper::before,
	div.title-wrapper::after{
		min-width: 35%;
	}
	#wish-list div.title-wrapper::before,
	#wish-list div.title-wrapper::after,
	#my-acc div.title-wrapper::before,
	#my-acc div.title-wrapper::after{
		min-width: 30%;
	}

	#shkaf .half{
		max-height: 265px;
	}
	#shkaf .half img{
		max-height: 265px;
	}
	#shkaf .half:nth-of-type(1){
		padding: 50px;
	}
	.price .from::after{
		right: 5px;
	}
	div.product-wrapper{
		margin: 0;
		margin-right: 3%;
	}
	#shkaf .row.list div.product-wrapper{
		margin-top: 15px;
	}
	#my-acc .my-address .form-group label{
		font-size: 13px;
	}
	#my-acc #tab-4 .my-name{
		padding-top: 45px;
	}
	.styled-checkbox + label{
		font-size: 13px;
	}
}
@media screen and (max-width: 1150px){
	
}
@media screen and (max-width: 991px){
	ul.top-list li a{
		font-size: 10px;
	}
	.logo{
		margin-bottom: 15px;
		text-align: center;
	}
/*	ul.personal li.wish,
	ul.personal li.cart{
		padding-left: 0;
	}*/
	ul.personal{
		display: flex;
	}
	div.icons{
		margin-top: 15px;
	}
	.quick-search-wrapper input{
		width: 80%;
	}
	.logo{
		min-height: 34px;
		line-height: 28px;
	}
	.logo img{
		display: inline-block;
	}
	ul.personal li{
		margin-right: 25px;
	}
	ul.main-nav li{
		margin-right: 3%;
	}
	.title{
		font-size: 24px;
	}
	.cost{
		font-size: 22px;
	}
	#catalogSlider div.owl-wrap{
		padding: 0 5px;
	}
/*	#catalogSlider .product-thumb .popular-block{
		left: 24.5px;
	}*/
	#catalogSlider div.arrows .direction{
		width: 75px;
	}
	.wrapper-catalog{
		width: auto;
	}
	.wrapper-catalog .half:nth-of-type(2){
		padding-left: 40px;
	}

	/*блядская кнопка*/
	#catalogSlider .product-thumb .popular-block{
		position: static;
		margin: 0 auto;
	}
	/*/блядская кнопка*/

	footer .row,
	div.last-block ul:nth-of-type(2) a{
		font-size: 13px;
		/*padding-left: 0;*/
	}
	#autorizationModal .modal-dialog, #registrationModal .modal-dialog{
		width: 768px;
	}
	#autorizationModal .modal-dialog .half:first-child img{
		min-height: 500px;
	}
	footer div.col-sm-2{
		margin-right: 15px;
	}
	#shkaf .half{
		max-height: 205px;
	}
	#shkaf .half img{
		max-height: 205px;
	}
	#shkaf .half:nth-of-type(1){
		padding: 10px;
	}
	.filter-wrapper .form-group{
		margin-right: 5%;
		width: 45%;
	}
	.filter-wrapper .price{
		margin-right: 50px;
		width: 25%;
	}
	#shkaf .row.list div.product-wrapper,
	#wish-list .row.list div.product-wrapper,
	#my-acc div.product-wrapper{
		width: 50%;
		margin: 0;
	}
	div.clock-item{
		width: 50px;
		height: 50px;
		padding: 0;
	}
	.coming-soon-wrapper .clock{
		width: auto;
	}
	.coming-soon-wrapper .text{
		top: 60px;
	}
	.coming-soon-wrapper .text .val,
	.coming-soon-wrapper p.start{
		font-size: 20px;
	}
	.coming-soon-wrapper .text .type-time{
		font-size: 15px;
	}
	#my-personal-page div.product-wrapper{
		/*width: 25%;*/
	}
	#my-history .characters{
		width: 30%;
	}
	#my-acc .my-address .form-group{
		float: unset;
		margin: 0;
		margin-bottom: 10px;
		width: 100%;
	}
	#my-acc .my-address .form-group label{
		margin-bottom: 5px;
	}
	#my-acc .tab-content .my-name,
	#my-acc #tab-4 .my-name{
		padding-top: 0;
	}
	#wish-list .list{
		margin-left: 0;
	}
}
@media screen and (max-width: 900px){
	.information-block{
		padding-left: 100px;
	}
	.notify p,
	.notify input{
		min-width: auto;
		width: auto;
	}
}
@media screen and (max-width: 800px){
	footer{
		overflow: auto;
	}
	footer h5{
		font-size: 13px;
	}
	#wish-list .list{
		margin-left: -15px;
	}
	#wish-list .row.list{
		padding: 0 30px;
	}
}
@media screen and (max-width: 767px){
	.footer-nav li a, .numbers{
		font-size: 11px;
	}
	.wish-count, .cart-count,
	ul.personal a,
	.quick-search-wrapper .form-group input,
	#navigation ul.main-nav > li > a,
	div.last-block ul:nth-of-type(2) a,
	div.sub-main-nav ul > li > a,
	div.dropdown-menu ul a{
		font-size: 11px;
	}
	div.sub-main-nav ul > li{
		padding: 5px 10px;
	}
	.title{
		font-size: 18px;
	}
	.description-block{
		width: 200px;
	}
	#navigation ul.main-nav > li{
		display: inline-block;
	}
	ul.main-nav li{
		margin-right: 2%;
	}
	.navbar-nav{
		margin: 0!important;
	}
	div.descr{
		text-align: center;
	}
	#catalogSlider div.arrows .direction{
		width: 50%;
		padding: 0 25px;
	}
	#catalogSlider div.arrows .direction.direction-right a{
		float: right;
	}
	#catalogSlider .arrows{
		margin: 15px 0;
		overflow: auto;
	}
/*	#catalogSlider .product-thumb .popular-block{
		left: 20%;
	}*/
	p.catalog-description{
		font-size: 13px;
	}
	.categories .description{
		font-size: 20px;
		left: 100px;
	}
	.categories .description span{
		font-size: 13px;
	}
	#navigation{
		display: none;
	}
	footer{
		padding: 20px 25px;
	}
	div.last-block{
		margin: 0;
	}
	footer h5{
		font-size: 12px;
	}
	.footer-nav{
		margin-top: 15px;
	}
	.footer-nav li{
		margin: 10px 0;
	}
	.transparent-block img{
		width: 100%;
	}
	.information-block{
		padding: 10px 0 10px 80px;
		min-height: auto;
	}
	.slider-content,
	div.carousel-inner{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	div.carousel-inner{
		max-height: 375px;
	}
	.categories-content{
		margin-bottom: 25px;
	}
	div.information-by-map p{
		float: unset!important;
		font-size: 14px;
	}
	.page404 .error{
		font-size: 180px;
	}
	div.clock-item{
		margin: 0;
	}
	.coming-soon-wrapper .text{
		top: 60px;
	}
	.notify p{
		font-size: 12px;
	}
	div.distribute .form-group{
		width: 100%;
	}
}
@media screen and (max-width: 745px){
	#shkaf .half{
		float: unset!important;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	#shkaf .half img{
		margin: 10px auto;
	}
	.tabs-menu li a,
	.tabs-menu li.current a{
		font-size: 14px;
	}
}
@media screen and (max-width: 650px){
	footer h5,
	.footer-nav li a,
	.wish-count, 
	.cart-count, 
	ul.personal a, 
	.quick-search-wrapper .form-group input, 
	#navigation ul.main-nav > li > a, 
	div.last-block ul:nth-of-type(2) a{
		font-size: 10px;
	}
	.description-block,
	p.catalog-description{
		font-size: 12px;
	}
	.catalog .wrapper-catalog .half img{
		width: 100%;
	}
	div.information-by-map{
		width: auto;
	}
	div.information-by-map .half{
		padding: 0;
	}
}
@media screen and (max-width: 600px){
    footer h5{
    	min-height: 22px;
    }
    .transparent-block, .information-block{
    	min-height: auto;
    	float: none;
    	width: 100%;
    }
    .transparent-block img{
    	width: 40%;
    	right: 10%;
    	top: 5px;
    }
    #productSlider{
    	margin-bottom: 25px;
    }
    .filter-wrapper .form-control{
    	font-size: 12px;
    }
	#wish-list div.title-wrapper::before,
	#wish-list div.title-wrapper::after,
	#my-acc div.title-wrapper::before,
	#my-acc div.title-wrapper::after{
		min-width: 25%;
	}
	.page404{
		right: 5%;
	}
	.page404 .error{
		font-size: 150px;
	}
	.page404-content{
		background-position: -280px;
	}
	.soon img{
		width: 70%;
	}
	.tabs-menu li a, .tabs-menu li.current a{
		font-size: 12px;
	}
	#my-acc .tab-content .my-name h4{
		font-size: 20px;
	}
	#my-acc .tab-content .my-name span{
		font-size: 12px;
	}
}
@media screen and (max-width: 550px){
	ul.main-nav li{
		margin-right: 0;
	}
	ul.personal li.dropdown{
		display: block;
	}
	ul.personal li.dropdown.person a.drop {
    	background: url(../image/arrow-down.png) no-repeat 25% center;
	}
	div.title-wrapper::before, 
	div.title-wrapper::after{
		min-width: 30%;
	}
	.notify input{
		width: 100%;
	}
	#my-acc .my-address .form-group.small{
		width: auto;
		margin-right: 15px;
	}
}
@media screen and (max-width: 500px){
	footer{
		padding: 20px 25px;
	}
	.item-name,
	.item-value{
		font-size: 11px;
	}
	footer div.col-xs-2{
		width: 30%!important;
		margin-right: 2.5%;
	}
	div.last-block{
		border-left: none;
		padding-left: 0;
		width: 100%!important;
	}
	div.information-by-map .half{
		border: 1px solid #eee;
		float: unset!important;
		margin-bottom: 15px;
		padding: 10px;
	}
	div.information-by-map p{
		font-size: 12px;
	}
}
@media screen and (max-width: 460px){
	div.information-by-map{
		display: none;
	}
	#shkaf .half p{
		font-size: 12px;
	}
	#shkaf .half:nth-of-type(1) p:nth-of-type(1){
		margin-bottom: 25px;
	}
	.filter-wrapper .price{
		width: 30%;
	}
	.filter-wrapper .location,
	.filter-wrapper .design{
		float: unset;
		width: 100%;
	}
	#shkaf .row.list div.product-wrapper,
	#wish-list .row.list div.product-wrapper,
	#my-acc div.product-wrapper{
		width: 100%;
	}
	.coming-soon-wrapper .clock{
		justify-content: space-around;
	}
	div.clock-item{
		width: 35px;
		height: 35px;
	}
	.coming-soon-wrapper .text{
		top: 52.5px;
	}
}
@media screen and (min-width: 425px) and (max-width: 434px){
	div.items-slider{
		padding: 0;
	}
	ul.personal{
		display: block;
	}
	ul.personal li.dropdown.person a.drop{
		background-position: 5% center;
	}
	ul.personal li.wish,
	ul.personal li.cart{
		display: block;
	}
	.cart-count{
	 	margin-left: 18px;
	}
	h2.title-page{
		font-size: 18px;
	}
	div.title-wrapper::before, 
	div.title-wrapper::after{
		min-width: 25%;
		top: 30px;
	}
	#wish-list div.title-wrapper::before,
	#wish-list div.title-wrapper::after,
	#my-acc div.title-wrapper::before,
	#my-acc div.title-wrapper::after{
		min-width: 20%;
		top: 30px;
	}
	.coming-soon-wrapper .text .type-time{
		font-size: 12px;
	}
}
@media screen and (min-width: 320px) and (max-width: 424px){
	ul.personal{
		display: block;
	}
	ul.personal li.dropdown.person a.drop{
		background-position: 10px center;
	}
	ul.personal li.wish,
	ul.personal li.cart{
		display: block;
	}
	.cart-count{
	 	margin-left: 18px;
	}
	.alert.alert-success{
		font-size: 12px;
	}
	div.logo{
		padding: 0;
	}
	.transparent-block img{
		width: 35%;
		top: 110px;
	}
	div.icons{
		padding: 0;
	}
	.quick-search-wrapper .form-group{
		margin-bottom: 0;
	}
	#catalogSlider .product-thumb .popular-block{
		left: 0;
	}
	#catalogSlider div.items-slider{
		padding: 0;
	}
	.wrapper-catalog .half img:nth-of-type(2){
		left: 35px;
	}
	.wrapper-catalog .half:nth-of-type(2){
		padding-left: 0;
	}
	.alert.alert-success{
		font-size: 10px;
	}
	.alert.alert-success .close{
		font-size: 18px;
		line-height: 0.8;
	}
	div.descr{
		padding-top: 0;
	}
	.wrapper-catalog{
		padding: 25px;
	}
	p.catalog-description{
		margin: 20px 0;
	}
	footer div.col-xs-2{
		width: 30%!important;
		margin-right: 2.5%;
	}
	footer div.col-xs-2:last-child{
		margin-right: 0;
	}
	div.last-block{
		border-left: none;
		padding-left: 0;
		width: 100%!important;
	}
	.footer-nav{
		display: inline-block;
		margin-top: 0;
	}
	.footer-nav li{
		margin: 0;
	}
	h2.title-page{
		font-size: 18px;
	}
	div.title-wrapper::before, 
	div.title-wrapper::after{
		min-width: 25%;
		top: 30px;
	}
	#wish-list div.title-wrapper::before, 
	#wish-list div.title-wrapper::after,
	#my-acc div.title-wrapper::before,
	#my-acc div.title-wrapper::after{
		min-width: 17.5%;
		top: 30px;
	}
	.filter-wrapper .price{
		float: unset;
		width: 50%;
	}
	.filter-wrapper .price:nth-of-type(even)>label{
		display: none;
	}
	.page404{
		right: 10%;
	}
	.coming-soon-wrapper .text .type-time{
		font-size: 12px;
	}
	.notify p{
		font-size: 10px;
	}
	.coming-soon-wrapper p.start{
		font-size: 15px;
	}
}